<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ pageTitle }}</title>
  <meta name="description" content="r.i.p."/>
  <meta name="keywords" content="rip r.i.p. r.i.p me"/>
  <meta property="og:title" content="ripme.xyz"/>
  <meta property="og:description" content="r.i.p."/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://ripme.xyz"/>

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700' rel='stylesheet' type='text/css'>
  <style type="text/css">html,body{height:100%;width:100%;margin:0;padding:0;background-color:#fdfdfd;color:#424242;font-family:Roboto,Arial,sans-serif;display:table;}section{width:100%;display:table-cell;vertical-align:middle;text-align:center;}h1{margin:0 0 10px 0;font-size:6em;font-weight:300;}h2{margin:0 0 20px 0;font-weight:300;}label{font-weight:300;}input[type="text"],input[type="email"]{padding:5px 10px;border:solid 1px #dcdcdc;transition:box-shadow 0.3s,border 0.3s;}input[type="text"]:focus,input[type="text"].focus,input[type="email"]:focus,input[type="email"].focus{border:solid 1px #707070;box-shadow:0 0 5px 1px #969696;}p.help-block{margin:2px 0 0 0;padding:0;font-weight:300;}.help-block.success{color:green;}.help-block.failure{color:red;}</style>

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>
  <section>
    {{{ body }}}
  </section>

  {{> analytics }}
</body>
</html>
